# Compiled python modules.
*.pyc

# Visual Studio
*.suo

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
*.err

# Ignore Temporary Data FIles
/data/*.txt

# Don't store api keys in source control
.env

# Ignore bundler config.
/.bundle
/bower_components
